.catalog {
  padding: var(--big-offset) 0;

  &__left {
    grid-column: 3 span;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span;
  }

  &-list {
    grid-template-columns: repeat(9, 1fr);

    &__item {
      grid-column: 3 span;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book);
  }

  &__caption {
    display: block;
    margin-bottom: var(--small-offset);
    font: var(--middle-font);
  }

  &__prop-inner {
    margin-bottom: var(--second-offset);
  }

  &__prop-check {
    display: flex;
    justify-content: space-between;
  }

  &-filters {
    border-radius: 4px;
    padding: var(--second-offset);
    background-color: var(--color-bg);

    &__btns {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-price {
    &__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 8px;
        width: 1px;
        height: 34px;
        background-color: var(--color-gray);
        transform: translateX(-50%);
      }
    }

    &__input {
      border: 1px solid var(--color-gray);
      width: 50%;
      height: 50px;
      font: var(--middle-font);
      text-align: center;
      background-color: transparent;

      &:first-child {
        border-right: none;
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-left: none;
        border-top-right-radius: 4px;
      }
    }
  }

  &__more {
    margin-top: var(--big-offset);
    margin-bottom: var(--second-offset);
  }

  .noUi-horizontal {
    height: 2px;
  }

  .noUi-target {
    border: none;
    box-shadow: none;
    background-color: var(--color-main);
  }

  .noUi-connect {
    background-color: var(--color-main);
  }

  .noUi-horizontal .noUi-handle {
    top: -8px;
    width: 3px;
    height: 18px;
  }

  .noUi-handle {
    right: -2px;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    background-color: var(--color-main);
    cursor: pointer;
  }

  .noUi-handle::after,
  .noUi-handle::before {
    display: none;
  }

  .noUi-handle-lower {
    right: -3px;
  }
}
