.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%; }
  .header__container {
    --paddings: 15px;
    position: relative;
    align-items: center;
    padding: var(--second-offset) var(--paddings); }
    .header__container::before {
      content: "";
      position: absolute;
      left: var(--paddings);
      bottom: 0;
      width: calc(100% - (var(--paddings) * 2));
      height: 1px;
      background-color: var(--color-border); }
  .header__left {
    grid-column: 2 span; }
  .header__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span; }

.hero {
  position: relative;
  padding: 100px 0;
  height: 528px;
  background-color: var(--color-eastbay); }
  .hero__container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%; }
  .hero__bg-text {
    position: absolute;
    left: 55%;
    top: 65%;
    z-index: 0;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.12);
    transform: translate(-55%, -65%); }
  .hero__title {
    margin: 0;
    margin-top: 50px;
    margin-bottom: var(--second-offset);
    max-width: 50%;
    font: 700 36px/140% var(--font-family);
    color: var(--color-white); }
  .hero__desc {
    margin: 0;
    margin-bottom: var(--main-offset);
    max-width: calc(50% - 100px);
    font: var(--middle-font);
    color: var(--color-white); }

.catalog {
  padding: var(--big-offset) 0; }
  .catalog__left {
    grid-column: 3 span; }
  .catalog__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span; }
  .catalog-list {
    grid-template-columns: repeat(9, 1fr); }
    .catalog-list__item {
      grid-column: 3 span; }
  .catalog__subtitle {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book); }
  .catalog__caption {
    display: block;
    margin-bottom: var(--small-offset);
    font: var(--middle-font); }
  .catalog__prop-inner {
    margin-bottom: var(--second-offset); }
  .catalog__prop-check {
    display: flex;
    justify-content: space-between; }
  .catalog-filters {
    border-radius: 4px;
    padding: var(--second-offset);
    background-color: var(--color-bg); }
    .catalog-filters__btns {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .catalog-price__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap; }
    .catalog-price__wrapper::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 8px;
      width: 1px;
      height: 34px;
      background-color: var(--color-gray);
      transform: translateX(-50%); }
  .catalog-price__input {
    border: 1px solid var(--color-gray);
    width: 50%;
    height: 50px;
    font: var(--middle-font);
    text-align: center;
    background-color: transparent; }
    .catalog-price__input:first-child {
      border-right: none;
      border-top-left-radius: 4px; }
    .catalog-price__input:last-child {
      border-left: none;
      border-top-right-radius: 4px; }
  .catalog__more {
    margin-top: var(--big-offset);
    margin-bottom: var(--second-offset); }
  .catalog .noUi-horizontal {
    height: 2px; }
  .catalog .noUi-target {
    border: none;
    box-shadow: none;
    background-color: var(--color-main); }
  .catalog .noUi-connect {
    background-color: var(--color-main); }
  .catalog .noUi-horizontal .noUi-handle {
    top: -8px;
    width: 3px;
    height: 18px; }
  .catalog .noUi-handle {
    right: -2px;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    background-color: var(--color-main);
    cursor: pointer; }
  .catalog .noUi-handle::after,
  .catalog .noUi-handle::before {
    display: none; }
  .catalog .noUi-handle-lower {
    right: -3px; }

.about {
  position: relative;
  overflow: hidden;
  height: 580px;
  background-color: var(--color-eastbay); }
  .about__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; }
  .about__figure {
    position: absolute;
    left: 0;
    top: 0; }
  .about__text {
    width: 34%;
    transform: translateY(70px); }
  .about__title {
    margin-bottom: var(--second-offset);
    color: var(--color-white); }
  .about__descr {
    font: var(--middle-font);
    color: var(--color-white); }
  .about__quote {
    display: flex;
    margin-bottom: var(--second-offset); }
    .about__quote::after, .about__quote::before {
      display: none; }
  .about__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: var(--middle-regular);
    transform: translateX(45px); }
    .about__author::before {
      content: "";
      display: inline-block;
      margin-right: var(--second-offset);
      width: 30px;
      height: 3px;
      background-color: var(--color-white); }
  .about__image {
    position: absolute;
    right: 100px;
    top: -150px;
    flex-shrink: 0;
    overflow: hidden;
    width: 500px;
    height: 950px;
    background-color: red;
    transform: rotate(15deg); }
    .about__image img {
      position: absolute;
      left: 50%;
      top: 0;
      width: 200%;
      height: 100%;
      max-width: none;
      -o-object-fit: cover;
      object-fit: cover;
      transform: rotate(-15deg) translateX(-50%); }

.quiz {
  padding: var(--big-offset); }
  .quiz__content {
    border-radius: 4px;
    padding: var(--main-offset) 100px;
    background-color: var(--color-bg); }
  .quiz__title {
    margin-bottom: var(--second-offset); }
  .quiz__descr {
    margin: 0;
    border-bottom: 1px solid currentColor;
    padding-bottom: var(--small-offset);
    font: var(--middle-font);
    color: var(--color-jumbo); }

.quiz-questions {
  padding: var(--second-offset) 0; }

.quiz-question__title {
  margin: 0;
  margin-bottom: var(--second-offset);
  font: var(--prehigh-book); }

.quiz-question__answers {
  display: grid;
  grid-auto-rows: 155px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: var(--main-offset);
  gap: var(--second-offset) 70px; }

.quiz-question__item img {
  margin-bottom: var(--small-offset); }

.quiz-question__count {
  font: var(--middle-font);
  color: var(--color-jumbo); }

.quiz-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-jumbo);
  padding-top: var(--second-offset); }

.asd {
  display: none; }

.team {
  position: relative;
  padding: var(--big-offset) 0;
  color: var(--color-white);
  background-color: var(--color-eastbay); }
  .team__title {
    color: var(--color-white); }
  .team__list {
    position: relative;
    z-index: 5;
    gap: var(--main-offset) var(--second-offset); }
  .team__figure {
    position: absolute;
    top: 0;
    right: 0; }
  .team__item {
    grid-column: 4 span; }
  .team__img {
    overflow: hidden;
    margin-bottom: var(--second-offset);
    border-radius: 4px; }
  .team__subtitle {
    display: block;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book);
    font-weight: 700; }
  .team__post {
    display: block;
    font: var(--middle-font); }

.nav__list {
  display: flex;
  align-self: center; }

.nav__item:not(:last-child) {
  margin-right: var(--main-offset); }

.nav__link {
  font: var(--small-font);
  color: var(--color-white); }

.cart {
  margin-left: var(--main-offset); }
  .cart__btn {
    position: relative;
    width: 20px;
    height: 20px; }
    .cart__btn svg {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .cart__count {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 16px;
    min-width: 16px;
    font: var(--small-font);
    color: var(--color-white);
    background-color: var(--color-accent); }

.logo {
  font: var(--middle-high-bold);
  color: var(--color-white); }

.product {
  overflow: hidden;
  border-radius: 4px; }
  .product__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .product__image {
    position: relative;
    margin-bottom: var(--small-offset);
    width: 100%;
    max-height: 293px; }
    .product__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .product__title {
    margin: 0;
    margin-bottom: var(--small-offset);
    font: var(--middle-font); }
  .product__price {
    font: var(--middle-regular); }
  .product__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    transition: background-color 0.2s ease-in-out; }
    .product__btn svg {
      width: 30px;
      height: 30px;
      -o-object-fit: cover;
      object-fit: cover; }
    .product__btn:first-child {
      margin-right: var(--main-offset); }
    .product__btn:hover {
      background-color: var(--color-main-hover); }
  .product:hover .product__btns {
    opacity: 1;
    visibility: visible; }

.sizes-table {
  margin-bottom: var(--second-offset);
  border-collapse: collapse;
  width: 100%; }
  .sizes-table caption {
    position: absolute;
    opacity: 0;
    pointer-events: none; }
  .sizes-table td {
    border: 1px solid var(--color-cameo);
    padding: 17px 5px;
    font: var(--middle-font);
    text-align: center; }

/*# sourceMappingURL=main.css.map */
