.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%; }
  .header__container {
    --paddings: 15px;
    position: relative;
    align-items: center;
    padding: var(--second-offset) var(--paddings); }
    .header__container::before {
      content: "";
      position: absolute;
      left: var(--paddings);
      bottom: 0;
      width: calc(100% - (var(--paddings) * 2));
      height: 1px;
      background-color: var(--color-border); }
  .header__left {
    grid-column: 2 span; }
  .header__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span; }

.hero {
  position: relative;
  padding: 100px 0;
  height: 528px;
  background-color: var(--color-eastbay); }
  .hero__container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%; }
  .hero__bg-text {
    position: absolute;
    left: 55%;
    top: 65%;
    z-index: 0;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.12);
    transform: translate(-55%, -65%); }
  .hero__title {
    margin: 0;
    margin-top: 50px;
    margin-bottom: var(--second-offset);
    max-width: 50%;
    font: 700 36px/140% var(--font-family);
    color: var(--color-white); }
  .hero__desc {
    margin: 0;
    margin-bottom: var(--main-offset);
    max-width: calc(50% - 100px);
    font: var(--middle-font);
    color: var(--color-white); }

.catalog {
  padding: var(--big-offset) 0; }
  .catalog__left {
    grid-column: 3 span; }
  .catalog__grid {
    grid-column: 9 span; }
  .catalog-list {
    grid-template-columns: repeat(9, 1fr); }
    .catalog-list__item {
      grid-column: 3 span; }
  .catalog__subtitle {
    margin: 0;
    margin-bottom: var(--second-offset);
    font: var(--prehigh-book); }
  .catalog__caption {
    display: block;
    margin-bottom: var(--small-offset);
    font: var(--middle-font); }
  .catalog__prop {
    margin-bottom: var(--second-offset); }
  .catalog__prop-check {
    display: flex;
    justify-content: space-between; }
  .catalog-filters {
    border-radius: 4px;
    padding: var(--second-offset);
    background-color: var(--color-bg); }
  .catalog-price__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap; }
    .catalog-price__wrapper::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 8px;
      width: 1px;
      height: 34px;
      background-color: var(--color-gray);
      transform: translateX(-50%); }
  .catalog-price__input {
    border: 1px solid var(--color-gray);
    width: 50%;
    height: 50px;
    font: var(--middle-font);
    text-align: center;
    background-color: transparent; }
    .catalog-price__input:first-child {
      border-right: none;
      border-top-left-radius: 4px; }
    .catalog-price__input:last-child {
      border-left: none;
      border-top-right-radius: 4px; }

.noUi-horizontal {
  height: 2px; }

.noUi-horizontal .noUi-handle {
  width: 3px;
  height: 18px; }

.noUi-handle {
  border: none;
  border-radius: none;
  background: var(--color-main);
  cursor: default;
  box-shadow: none; }

.noUi-connect {
  background-color: var(--volor-main); }

.noUi-target {
  border: none;
  box-shadow: none;
  background-color: var(--volor-main); }

.nav__list {
  display: flex;
  align-self: center; }

.nav__item:not(:last-child) {
  margin-right: var(--main-offset); }

.nav__link {
  font: var(--small-font);
  color: var(--color-white); }

.cart {
  margin-left: var(--main-offset); }
  .cart__btn {
    position: relative;
    width: 20px;
    height: 20px; }
    .cart__btn svg {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .cart__count {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 16px;
    min-width: 16px;
    font: var(--small-font);
    color: var(--color-white);
    background-color: var(--color-accent); }

.logo {
  font: var(--middle-high-bold);
  color: var(--color-white); }

.product {
  overflow: hidden;
  border-radius: 4px; }
  .product__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .product__image {
    position: relative;
    margin-bottom: var(--small-offset);
    width: 100%;
    max-height: 293px; }
    .product__image img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .product__title {
    margin: 0;
    margin-bottom: var(--small-offset);
    font: var(--middle-font); }
  .product__price {
    font: var(--middle-regular); }
  .product__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    transition: background-color 0.2s ease-in-out; }
    .product__btn svg {
      width: 30px;
      height: 30px;
      -o-object-fit: cover;
      object-fit: cover; }
    .product__btn:first-child {
      margin-right: var(--main-offset); }
    .product__btn:hover {
      background-color: var(--color-main-hover); }
  .product:hover .product__btns {
    opacity: 1;
    visibility: visible; }

/*# sourceMappingURL=main.css.map */
