<section class="insta">
  <h2 class="visually-hidden">Форма и инстаграм-лента</h2>
  <div class="container insta__container">
    <div class="insta__left">
      <form action="#" class="callback-form">
        <h3 class="title insta__title">Есть вопросы?</h3>
        <p class="insta__descr">Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами</p>
        <input type="text" class="input insta__input" placeholder="Ваше имя">
        <input type="tel" class="input insta__input" placeholder="Номер телефона">
        <button class="btn btn-reset btn--primary insta__btn">Отправить</button>
      </form>
    </div>
    <div class="insta__right">
      <a href="#" class="insta__link" target="_blank">
        <img src="img/instagram.png" alt="Логотип инстаграма">
      </a>
      <div class="insta__content"></div>
    </div>
  </div>
</section>
